@import "../_share_scss/share";
@import "../_common_scss/material_design_style/colors";
@import "../_common_scss/material_design_style/typography";
@import "../_common_scss/material_design_style/layout";

.watch-list-container {
  @include share-container;
}

.watch-list-table {
  width: 100%;
}

.watch-list-margin-top {
  @include share-margin-top;
}

.watch-list-button {
  @include share-button;
  width: 100%;
}

.watch-list-button-icons {
  @include share-button-icons;
}

.watch-list-label {
  @include share-label;
}

.watch-list-input {
  @include share-input;
}

.watch-list-table {
  @include share-input;
}

.watch-list-card {
  @include share-input;
  @include share-margin-top;
  border-color: white;
  border-width: 0.15em;
  border-radius: $share-border-radius;
}

.watch-list-card-label {
  @include layout-horizontal;
  @include layout-justified;
  background-color: transparent;
  @include font-title;
  @media (max-width: $share-media-max-width) {
    @include font-subhead;
  }
}

.watch-list-card-item {
  @include layout-horizontal;
  @include layout-justified;
  background-color: transparent;
}

.watch-list-card-item-button {
  background-color: transparent;
  border-width: 0;
  color: inherit;
}

.watch-list-card-item-note {
  @include share-input;
  word-break: normal;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.watch-list-validate {
  @include share-validate;
}

.watch-list-menu {
  @include share-label;
  width: 100%;
}

.watch-list-item {
  @include share-label;
  width: 100%;
}

.watch-list-item-normal {
  background-color: rgba($paper-grey-300, $dark-primary-opacity) !important;
}

.watch-list-item-portfolio {
  background-color: rgba($paper-light-blue-700, $dark-primary-opacity) !important;
  color: white !important;
}

.watch-list-item-earnings {
  background-color: rgba($paper-teal-700, $dark-primary-opacity) !important;
  color: white !important;
}

.watch-list-item-flag {
  background-color: rgba($paper-blue-grey-900, $dark-primary-opacity) !important;
  color: white !important;
}

.watch-list-separator {
  @include share-separator;
  margin-top: 2em;
  margin-bottom: 0;
}
