{{define "WatchListCSS"}}

<!---->

<style>

.watch-list-label, .watch-list-menu, .watch-list-item, .watch-list-input, .watch-list-validate, .watch-list-button {
  -webkit-font-smoothing: antialiased; }

.watch-list-button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.watch-list-label, .watch-list-menu, .watch-list-item, .watch-list-input {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; }

.watch-list-validate {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px; }

.watch-list-button-icons {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  vertical-align: text-top;
  margin: 0 0.15em 0 0; }

.watch-list-button {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.018em;
  line-height: 24px;
  text-transform: uppercase; }

.watch-list-label, .watch-list-menu, .watch-list-item, .watch-list-input, .watch-list-validate, .watch-list-button {
  font-family: 'Ubuntu', sans-serif; }

.watch-list-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 500px) {
    .watch-list-container {
      width: 85%; } }

.watch-list-margin-top {
  margin-top: 2em; }

.watch-list-separator {
  display: block;
  height: 1px;
  width: 97.5%;
  margin: 5px auto 5px auto;
  background-color: black;
  opacity: 0.12; }

.watch-list-table {
  width: 100%; }

.watch-list-button {
  width: 100%; }

.watch-list-menu {
  width: 100%; }

.watch-list-item {
  width: 100%; }

.watch-list-separator {
  margin-top: 2em;
  margin-bottom: 0; }


</style>

<!---->

{{end}}