@import "../_share_scss/share";
@import "../_common_scss/material_design_style/colors";

.watch-list-container {
  @include share-container;
}

.watch-list-table {
  width: 100%;
}

.watch-list-margin-top {
  @include share-margin-top;
}

.watch-list-button {
  @include share-button;
  width: 100%;
}

.watch-list-button-icons {
  @include share-button-icons;
}

.watch-list-label {
  @include share-label;
}

.watch-list-input {
  @include share-input;
}

.watch-list-table {
  @include share-input;
}

.watch-list-validate {
  @include share-validate;
}

.watch-list-menu {
  @include share-label;
  width: 100%;
}

.watch-list-item {
  @include share-label;
  width: 100%;
}

.watch-list-item-flag {
  background-color: rgba($paper-blue-grey-900, $dark-primary-opacity) !important;
  color: white !important;
}

.watch-list-separator {
  @include share-separator;
  margin-top: 2em;
  margin-bottom: 0;
}
