{{define "PostAnalysisCSS"}}

<!---->

<style>

.post-analysis-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 1000px) {
    .post-analysis-container {
      width: 85%; } }

.post-analysis-margin-top {
  margin-top: 1.5em; }

.post-analysis-button {
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.018em;
  line-height: 24px;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif; }

.post-analysis-button-icons {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  vertical-align: text-top;
  margin: 0 0.15em 0 0; }

.post-analysis-label {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Ubuntu', sans-serif; }

.post-analysis-input {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Ubuntu', sans-serif; }

.post-analysis-validate {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  font-family: 'Ubuntu', sans-serif; }


</style>

<!---->

{{end}}