{{define "StatisticChartsJS"}}

<!---->

<script>

//////////////////////////////////////////////////////////////////////////////////////////////////////

var width = $("#dropdownMenu").width();

//////////////////////////////////////////////////////////////////////////////////////////////////////

google.charts.load("current", {
  "packages": ["corechart", "bar"]
});

//////////////////////////////////////////////////////////////////////////////////////////////////////


</script>

<!---->

{{end}}