{{define "StatisticChartGeneral"}}

<!---->

<div id="chart-general">

  <!--<div id="gain-daysheld"-->
  <!--class="statistic-margin-top statistic-charts"-->
  <!--data-ref="{.ChartGeneral.GainVsDaysHeld}">-->
  <!--</div>-->

  <img id="gain-daysheld"
    class="statistic-margin-top statistic-charts"
    src="{{.ChartGeneral.GainVsDaysHeld}}">

  <!--<div id="buy-points"-->
  <!--class="statistic-margin-top statistic-charts"-->
  <!--data-ref="{.ChartGeneral.BuyPoints}">-->
  <!--</div>-->

  <img id="buy-points"
    class="statistic-margin-top statistic-charts"
    src="{{.ChartGeneral.BuyPoints}}">

  <!--<div id="price-interval"-->
  <!--class="statistic-margin-top statistic-charts"-->
  <!--data-ref="{.ChartGeneral.PriceInterval}">-->
  <!--</div>-->

  <img id="price-interval"
    class="statistic-margin-top statistic-charts"
    src="{{.ChartGeneral.PriceInterval}}">

  <!--<div id="stage"-->
  <!--class="statistic-margin-top statistic-charts"-->
  <!--data-ref="{.ChartGeneral.Stage}">-->
  <!--</div>-->

  <img id="stage"
    class="statistic-margin-top statistic-charts"
    src="{{.ChartGeneral.Stage}}">

</div>

<!---->

{{end}}
