{{define "StatisticChartIBD"}}

<!---->

<div id="chart-ibd">

  <div id="ibd-market-capitalization"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.MarketCapitalization}}">
  </div>

  <div id="ibd-up-down-volume-ratio"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.UpDownVolumeRatio}}">
  </div>

  <div id="ibd-rs-rating"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.RSRating}}">
  </div>

  <div id="ibd-industry-group-rank"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.IndustryGroupRank}}">
  </div>

  <div id="ibd-composite-rating"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.CompositeRating}}">
  </div>

  <div id="ibd-eps-rating"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.EPSRating}}">
  </div>

  <div id="ibd-smr-rating"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.SMRRating}}">
  </div>

  <div id="ibd-acc-dis-rating"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.AccDisRating}}">
  </div>

  <div id="ibd-eps-chg-last-qtr"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.EPSChgLastQtr}}">
  </div>

  <div id="ibd-last-3-qtrs-avg-eps-growth"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.Last3QtrsAvgEPSGrowth}}">
  </div>

  <div id="ibd-qtrs-of-eps-acceleration"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.QtrsofEPSAcceleration}}">
  </div>

  <div id="ibd-eps-est-chg-current-qtr"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.EPSEstChgCurrentQtr}}">
  </div>

  <div id="ibd-estimate-revisions"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.EstimateRevisions}}">
  </div>

  <div id="ibd-last-qtr-earnings-surprise"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.LastQtrEarningsSurprise}}">
  </div>

  <div id="ibd-three-yr-eps-growth-rate"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.ThreeYrEPSGrowthRate}}">
  </div>

  <div id="ibd-consecutive-yrs-of-annual-eps-growth"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.ConsecutiveYrsofAnnualEPSGrowth}}">
  </div>

  <div id="ibd-eps-est-chg-for-current-year"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.EPSEstChgforCurrentYear}}">
  </div>

  <div id="ibd-sales-chg-last-qtr"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.SalesChgLastQtr}}">
  </div>

  <div id="ibd-three-yr-sales-growth-rate"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.ThreeYrSalesGrowthRate}}">
  </div>

  <div id="ibd-annual-pretax-margin"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.AnnualPreTaxMargin}}">
  </div>

  <div id="ibd-annual-roe"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.AnnualROE}}">
  </div>

  <div id="ibd-debt-equity-ratio"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.DebtEquityRatio}}">
  </div>

  <div id="ibd-off-52-week-high"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.Off52WeekHigh}}">
  </div>

  <div id="ibd-price-vs-50-day-moving-average"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.Pricevs50DayMovingAverage}}">
  </div>

  <div id="ibd-fifty-day-average-volume"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.FiftyDayAverageVolume}}">
  </div>

  <div id="ibd-change-in-funds-owning-stock"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.ChangeInFundsOwningStock}}">
  </div>

  <div id="ibd-qtrs-of-increasing-fund-ownership"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.QtrsOfIncreasingFundOwnership}}">
  </div>

</div>

<!---->

{{end}}
