{{define "StatisticChartGeneral"}}

<!---->

<div id="chart-general">

  <div id="gain-daysheld"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartGeneral.GainVsDaysHeld}}">
  </div>

  <div id="buy-points"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartGeneral.BuyPoints}}">
  </div>

  <!--<div id="price-interval"-->
  <!--class="statistic-margin-top statistic-charts"-->
  <!--data-ref="{{.ChartGeneral.PriceInterval}}">-->
  <!--</div>-->

</div>

<!---->

{{end}}
