{{define "StatisticCSS"}}

<!---->

<style>

.statistic-container {
  width: 65%;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 1000px) {
    .statistic-container {
      width: 85%; } }

.statistic-margin-top {
  margin-top: 1.25em; }

.statistic-button {
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.018em;
  line-height: 24px;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  width: 100%; }

.statistic-button-icons {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  vertical-align: text-top;
  margin: 0 0.15em 0 0; }

.statistic-label {
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; }
  @media (max-width: 1000px) {
    .statistic-label {
      -webkit-font-smoothing: antialiased;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px; } }

.statistic-input {
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; }
  @media (max-width: 1000px) {
    .statistic-input {
      -webkit-font-smoothing: antialiased;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px; } }

.statistic-charts {
  width: 100%;
  margin-top: 10%; }

.statistic-menu {
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 100%; }
  @media (max-width: 1000px) {
    .statistic-menu {
      -webkit-font-smoothing: antialiased;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px; } }

.statistic-item {
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 100%; }
  @media (max-width: 1000px) {
    .statistic-item {
      -webkit-font-smoothing: antialiased;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px; } }

.statistic-validate {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  font-family: 'Ubuntu', sans-serif; }

.statistic-separator {
  display: block;
  height: 1px;
  width: 97.5%;
  margin: 5px auto 5px auto;
  background-color: black;
  opacity: 0.12;
  margin-top: 2em; }

.statistic-list-label {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Ubuntu', sans-serif; }

.statistic-list-item {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; }
  @media (max-width: 1000px) {
    .statistic-list-item {
      -webkit-font-smoothing: antialiased;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px; } }

.statistic-color-general {
  background-color: #009688;
  color: white; }

.statistic-color-display {
  background-color: #69f0ae; }

.statistic-color-fantastic {
  background-color: #03a9f4;
  color: white; }

.statistic-color-info {
  background-color: #00e5ff; }

.statistic-color-danger {
  background-color: #f44336;
  color: white; }

.statistic-color-warning {
  background-color: #ffd740; }


</style>

<!---->

{{end}}