{{define "StatisticChartIBD"}}

<!---->

<div id="chart-ibd">

  <img id="ibd-market-capitalization"
    class="statistic-charts"
    src="{{.ChartIBD.MarketCapitalization}}">

  <img id="ibd-fifty-day-average-volume"
    class="statistic-charts"
    src="{{.ChartIBD.FiftyDayAverageVolume}}">

  <img id="ibd-rs-rating"
    class="statistic-charts"
    src="{{.ChartIBD.RSRating}}">

  <img id="ibd-industry-group-rank"
    class="statistic-charts"
    src="{{.ChartIBD.IndustryGroupRank}}">

  <img id="ibd-acc-dis-rating"
    class="statistic-charts"
    src="{{.ChartIBD.AccDisRating}}">

  <img id="ibd-up-down-volume-ratio"
    class="statistic-charts"
    src="{{.ChartIBD.UpDownVolumeRatio}}">

  <img id="ibd-smr-rating"
    class="statistic-charts"
    src="{{.ChartIBD.SMRRating}}">

  <img id="ibd-eps-rating"
    class="statistic-charts"
    src="{{.ChartIBD.EPSRating}}">

  <img id="ibd-composite-rating"
    class="statistic-charts"
    src="{{.ChartIBD.CompositeRating}}">

  <img id="ibd-last-qtr-earnings-surprise"
    class="statistic-charts"
    src="{{.ChartIBD.LastQtrEarningsSurprise}}">

  <img id="ibd-eps-chg-last-qtr"
    class="statistic-charts"
    src="{{.ChartIBD.EPSChgLastQtr}}">

  <img id="ibd-last-3-qtrs-avg-eps-growth"
    class="statistic-charts"
    src="{{.ChartIBD.Last3QtrsAvgEPSGrowth}}">

  <!--<img id="ibd-qtrs-of-eps-acceleration"-->
  <!--class="statistic-charts"-->
  <!--src="{{.ChartIBD.QtrsofEPSAcceleration}}">-->

  <!--<img id="ibd-eps-est-chg-current-qtr"-->
  <!--class="statistic-charts"-->
  <!--src="{{.ChartIBD.EPSEstChgCurrentQtr}}">-->

  <!--<img id="ibd-estimate-revisions"-->
  <!--class="statistic-charts"-->
  <!--src="{{.ChartIBD.EstimateRevisions}}">-->

  <img id="ibd-three-yr-eps-growth-rate"
    class="statistic-charts"
    src="{{.ChartIBD.ThreeYrEPSGrowthRate}}">

  <!--<img id="ibd-consecutive-yrs-of-annual-eps-growth"-->
  <!--class="statistic-charts"-->
  <!--src="{{.ChartIBD.ConsecutiveYrsofAnnualEPSGrowth}}">-->

  <!--<img id="ibd-eps-est-chg-for-current-year"-->
  <!--class="statistic-charts"-->
  <!--src="{{.ChartIBD.EPSEstChgforCurrentYear}}">-->

  <img id="ibd-sales-chg-last-qtr"
    class="statistic-charts"
    src="{{.ChartIBD.SalesChgLastQtr}}">

  <img id="ibd-three-yr-sales-growth-rate"
    class="statistic-charts"
    src="{{.ChartIBD.ThreeYrSalesGrowthRate}}">

  <img id="ibd-annual-pretax-margin"
    class="statistic-charts"
    src="{{.ChartIBD.AnnualPreTaxMargin}}">

  <img id="ibd-annual-roe"
    class="statistic-charts"
    src="{{.ChartIBD.AnnualROE}}">

  <img id="ibd-debt-equity-ratio"
    class="statistic-charts"
    src="{{.ChartIBD.DebtEquityRatio}}">

  <!--<img id="ibd-off-52-week-high"-->
  <!--class="statistic-charts"-->
  <!--src="{{.ChartIBD.Off52WeekHigh}}">-->

  <!--<img id="ibd-price-vs-50-day-moving-average"-->
  <!--class="statistic-charts"-->
  <!--src="{{.ChartIBD.Pricevs50DayMovingAverage}}">-->

  <!--<img id="ibd-change-in-funds-owning-stock"-->
  <!--class="statistic-charts"-->
  <!--src="{{.ChartIBD.ChangeInFundsOwningStock}}">-->

  <!--<img id="ibd-qtrs-of-increasing-fund-ownership"-->
  <!--class="statistic-charts"-->
  <!--src="{{.ChartIBD.QtrsOfIncreasingFundOwnership}}">-->

</div>

<!---->

{{end}}
