{{define "StatisticChartGeneral"}}

<!---->

<div id="chart-general">

  <img id="batting-average"
    class="statistic-charts"
    src="{{.ChartGeneral.BattingAverage}}">

  <img id="gain-daysheld"
    class="statistic-charts"
    src="{{.ChartGeneral.GainVsDaysHeld}}">

  <img id="buy-points"
    class="statistic-charts"
    src="{{.ChartGeneral.BuyPoints}}">

  <img id="price-interval"
    class="statistic-charts"
    src="{{.ChartGeneral.PriceInterval}}">

  <img id="stage"
    class="statistic-charts"
    src="{{.ChartGeneral.Stage}}">

</div>

<!---->

{{end}}
