{{define "StatisticChartIBD"}}

<!---->

<div id="chart-ibd">

  <div id="market-capitalization"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.MarketCapitalization}}">
  </div>

  <div id="up-down-volume-ratio"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.UpDownVolumeRatio}}">
  </div>

  <div id="rs-rating"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.RSRating}}">
  </div>

  <div id="industry-group-rank"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.IndustryGroupRank}}">
  </div>

  <div id="composite-rating"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.CompositeRating}}">
  </div>

  <div id="eps-rating"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.EPSRating}}">
  </div>

  <div id="smr-rating"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.SMRRating}}">
  </div>

  <div id="acc-dis-rating"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.AccDisRating}}">
  </div>

  <div id="eps-chg-last-qtr"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.EPSChgLastQtr}}">
  </div>

  <div id="last-3-qtrs-avg-eps-growth"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.Last3QtrsAvgEPSGrowth}}">
  </div>

  <div id="qtrs-of-eps-acceleration"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.QtrsofEPSAcceleration}}">
  </div>

  <div id="eps-est-chg-current-qtr"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.EPSEstChgCurrentQtr}}">
  </div>

  <div id="estimate-revisions"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.EstimateRevisions}}">
  </div>

  <div id="last-qtr-earnings-surprise"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.LastQtrEarningsSurprise}}">
  </div>

  <div id="three-yr-eps-growth-rate"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.ThreeYrEPSGrowthRate}}">
  </div>

  <div id="consecutive-yrs-of-annual-eps-growth"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.ConsecutiveYrsofAnnualEPSGrowth}}">
  </div>

  <div id="eps-est-chg-for-current-year"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.EPSEstChgforCurrentYear}}">
  </div>

  <div id="sales-chg-last-qtr"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.SalesChgLastQtr}}">
  </div>

  <div id="three-yr-sales-growth-rate"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.ThreeYrSalesGrowthRate}}">
  </div>

  <div id="annual-pretax-margin"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.AnnualPreTaxMargin}}">
  </div>

  <div id="annual-roe"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.AnnualROE}}">
  </div>

  <div id="debt-equity-ratio"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.DebtEquityRatio}}">
  </div>

  <div id="off-52-week-high"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.Off52WeekHigh}}">
  </div>

  <div id="price-vs-50-day-moving-average"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.Pricevs50DayMovingAverage}}">
  </div>

  <div id="fifty-day-average-volume"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.FiftyDayAverageVolume}}">
  </div>

  <div id="change-in-funds-owning-stock"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.ChangeInFundsOwningStock}}">
  </div>

  <div id="qtrs-of-increasing-fund-ownership"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartIBD.QtrsOfIncreasingFundOwnership}}">
  </div>

</div>

<!---->

{{end}}
