{{define "Statistic"}}

<html lang="en">

<head>

  <!---->
  {{template "IndexHead"}}
  <!---->

  <!---->
  {{template "IndexIcon"}}
  <!---->

  <!---->
  {{template "CDNCSS"}}
  <!---->

  <!---->
  {{template "ShareCSS"}}
  <!---->

  <!---->
  {{template "StatisticCSS"}}
  <!---->

</head>

<body>

  <!---->
  {{template "ShareNavbar"}}
  <!---->

  <div class="statistic-container">

    <label for="input-start-date"
      class="statistic-margin-top statistic-label">
      Start Date
    </label>

    <input type="text"
      id="input-start-date"
      class="form-control statistic-input">

    <div id="validate-start-date"
      class="invalid-feedback statistic-validate">
      Invalid Date
    </div>

    <label for="input-end-date"
      class="statistic-margin-top statistic-label">
      End Date
    </label>

    <input type="text"
      id="input-end-date"
      class="form-control statistic-input">

    <div id="validate-end-date"
      class="invalid-feedback statistic-validate">
      Invalid Date
    </div>

    <button type="button"
      id="button-query"
      class="btn btn-lg btn-dark statistic-margin-top statistic-button">
      <i class="material-icons statistic-button-icons">search</i>
      Search
    </button>

    <div class="statistic-separator">
    </div>

    <ul class="list-group statistic-margin-top">
      <li class="list-group-item statistic-color-general">
        General
      </li>

      <li class="list-group-item">
        <div class="statistic-list-item">
          <span>
            Total Trade
          </span>
          <span>
            {{.TotalTrade}}
          </span>
        </div>
      </li>

      <li class="list-group-item">
        <div class="statistic-list-item">
          <span>
            Batting Average
          </span>
          <span>
            {{.FormatFloat .BattingAverage}}
          </span>
        </div>
      </li>

      <li class="list-group-item">
        <div class="statistic-list-item">
          <span>
            Win Loss Ratio
          </span>
          <span>
            {{.FormatFloat .WinLossRatio}}
          </span>
        </div>
      </li>

    </ul>

    <ul class="list-group statistic-margin-top">
      <li class="list-group-item statistic-color-fantastic">
        Win
      </li>

      <li class="list-group-item">
        <div class="statistic-list-item">
          <span>
            Total Trade
          </span>
          <span>
            {{.Gain.TotalTrade}}
          </span>
        </div>
      </li>

      <li class="list-group-item statistic-color-info">
        <div class="statistic-list-item">
          <span>
            Price
          </span>
        </div>
      </li>

      <!---->
      {{range $k, $v := .Gain.Price}}
      <li class="list-group-item">
        <div class="statistic-list-item">
          <span>
            {{$k}}
          </span>
          <span>
            {{$v}}
          </span>
        </div>
      </li>
      {{end}}
      <!---->

      <li class="list-group-item statistic-color-info">
        <div class="statistic-list-item">
          <span>
            Buy Point
          </span>
        </div>
      </li>

      <!---->
      {{range $k, $v := .Gain.BuyPoint}}
      <li class="list-group-item">
        <div class="statistic-list-item">
          <span>
            {{$k}}
          </span>
          <span>
            {{$v}}
          </span>
        </div>
      </li>
      {{end}}
      <!---->

      <li class="list-group-item statistic-color-info">
        <div class="statistic-list-item">
          <span>
            Stage
          </span>
        </div>
      </li>

      <!---->
      {{range $k, $v := .Gain.Stage}}
      <li class="list-group-item">
        <div class="statistic-list-item">
          <span>
            {{$k}}
          </span>
          <span>
            {{$v}}
          </span>
        </div>
      </li>
      {{end}}
      <!---->

      <li class="list-group-item statistic-color-info">
        <div class="statistic-list-item">
          <span>
            Gain (%)
          </span>
        </div>
      </li>

      <li class="list-group-item">
        <div class="statistic-list-item">
          <span>
            Mean
          </span>
          <span>
            {{.FormatFloat .Gain.GainPMean}}
          </span>
        </div>
      </li>

      <li class="list-group-item">
        <div class="statistic-list-item">
          <span>
            Max
          </span>
          <span>
            {{.FormatFloat .Gain.GainPMax}}
          </span>
        </div>
      </li>

      <li class="list-group-item">
        <div class="statistic-list-item">
          <span>
            Min
          </span>
          <span>
            {{.FormatFloat .Gain.GainPMin}}
          </span>
        </div>
      </li>

    </ul>

    <ul class="list-group statistic-margin-top">
      <li class="list-group-item statistic-color-danger">
        Loss
      </li>

      <li class="list-group-item ">
        <div class="statistic-list-item">
          <span>
            Total Trade
          </span>
          <span>
            {{.Loss.TotalTrade}}
          </span>
        </div>
      </li>

      <li class="list-group-item statistic-color-warning">
        <div class="statistic-list-item">
          <span>
            Price
          </span>
        </div>
      </li>

      <!---->
      {{range $k, $v := .Loss.Price}}
      <li class="list-group-item">
        <div class="statistic-list-item">
          <span>
            {{$k}}
          </span>
          <span>
            {{$v}}
          </span>
        </div>
      </li>
      {{end}}
      <!---->

      <li class="list-group-item statistic-color-warning">
        <div class="statistic-list-item">
          <span>
            Buy Point
          </span>
        </div>
      </li>

      <!---->
      {{range $k, $v := .Loss.BuyPoint}}
      <li class="list-group-item">
        <div class="statistic-list-item">
          <span>
            {{$k}}
          </span>
          <span>
            {{$v}}
          </span>
        </div>
      </li>
      {{end}}
      <!---->

      <li class="list-group-item statistic-color-warning">
        <div class="statistic-list-item">
          <span>
            Stage
          </span>
        </div>
      </li>

      <!---->
      {{range $k, $v := .Loss.Stage}}
      <li class="list-group-item">
        <div class="statistic-list-item">
          <span>
            {{$k}}
          </span>
          <span>
            {{$v}}
          </span>
        </div>
      </li>
      {{end}}
      <!---->

      <li class="list-group-item statistic-color-warning">
        <div class="statistic-list-item">
          <span>
            Loss (%)
          </span>
        </div>
      </li>

      <li class="list-group-item">
        <div class="statistic-list-item">
          <span>
            Mean
          </span>
          <span>
            {{.FormatFloat .Loss.GainPMean}}
          </span>
        </div>
      </li>

      <li class="list-group-item">
        <div class="statistic-list-item">
          <span>
            Max
          </span>
          <span>
            {{.FormatFloat .Loss.GainPMax}}
          </span>
        </div>
      </li>

      <li class="list-group-item">
        <div class="statistic-list-item">
          <span>
            Min
          </span>
          <span>
            {{.FormatFloat .Loss.GainPMin}}
          </span>
        </div>
      </li>

    </ul>

    <div class="statistic-separator">
    </div>

    <button type="button"
      id="button-back"
      class="btn btn-lg btn-dark statistic-margin-top statistic-button">
      <i class="material-icons statistic-button-icons">home</i>
      Back to Action
    </button>

  </div>

  <!---->
  {{template "ShareFooter"}}
  <!---->

  <!---->
  {{template "CDNJS"}}
  <!---->

  <!---->
  {{template "ShareJS"}}
  <!---->

  <!---->
  {{template "StatisticJS"}}
  <!---->

</body>

</html>

{{end}}
