{{define "StatisticChartsIBDJS"}}

<!---->

<script>

//////////////////////////////////////////////////////////////////////////////////////////////////////

google.charts.setOnLoadCallback(drawMarketCapitalization);

//////////////////////////////////////////////////////////////////////////////////////////////////////

function drawMarketCapitalization() {
  drawWinLoseColumnChart("#market-capitalization", "Market Capitalization");
}

//////////////////////////////////////////////////////////////////////////////////////////////////////

google.charts.setOnLoadCallback(drawUpDownVolumeRatio);

//////////////////////////////////////////////////////////////////////////////////////////////////////

function drawUpDownVolumeRatio() {
  drawWinLoseColumnChart("#up-down-volume-ratio", "Up Down Volume Ratio");
}

//////////////////////////////////////////////////////////////////////////////////////////////////////

google.charts.setOnLoadCallback(drawRSRating);

//////////////////////////////////////////////////////////////////////////////////////////////////////

function drawRSRating() {
  drawWinLoseColumnChart("#rs-rating", "RS Rating");
}

//////////////////////////////////////////////////////////////////////////////////////////////////////

google.charts.setOnLoadCallback(drawIndustryGroupRank);

//////////////////////////////////////////////////////////////////////////////////////////////////////

function drawIndustryGroupRank() {
  drawWinLoseColumnChart("#industry-group-rank", "Industry Group Rank");
}

//////////////////////////////////////////////////////////////////////////////////////////////////////

google.charts.setOnLoadCallback(drawCompositeRating);

//////////////////////////////////////////////////////////////////////////////////////////////////////

function drawCompositeRating() {
  drawWinLoseColumnChart("#composite-rating", "Composite Rating");
}

//////////////////////////////////////////////////////////////////////////////////////////////////////

google.charts.setOnLoadCallback(drawEPSRating);

//////////////////////////////////////////////////////////////////////////////////////////////////////

function drawEPSRating() {
  drawWinLoseColumnChart("#eps-rating", "EPS Rating");
}

//////////////////////////////////////////////////////////////////////////////////////////////////////

google.charts.setOnLoadCallback(drawSMRRating);

//////////////////////////////////////////////////////////////////////////////////////////////////////

function drawSMRRating() {
  drawWinLoseColumnChart("#smr-rating", "SMR Rating");
}

//////////////////////////////////////////////////////////////////////////////////////////////////////

google.charts.setOnLoadCallback(drawAccDisRating);

//////////////////////////////////////////////////////////////////////////////////////////////////////

function drawAccDisRating() {
  drawWinLoseColumnChart("#acc-dis-rating", "Accumulation/Distribution Rating");
}

//////////////////////////////////////////////////////////////////////////////////////////////////////

google.charts.setOnLoadCallback(drawEPSChgLastQtr);

//////////////////////////////////////////////////////////////////////////////////////////////////////

function drawEPSChgLastQtr() {
  drawWinLoseColumnChart("#eps-chg-last-qtr", "EPS % Chg (Last Qtr)");
}

//////////////////////////////////////////////////////////////////////////////////////////////////////

google.charts.setOnLoadCallback(drawLast3QtrsAvgEPSGrowth);

//////////////////////////////////////////////////////////////////////////////////////////////////////

function drawLast3QtrsAvgEPSGrowth() {
  drawWinLoseColumnChart("#last-3-qtrs-avg-eps-growth", "Last 3 Qtrs Avg EPS Growth");
}

//////////////////////////////////////////////////////////////////////////////////////////////////////

google.charts.setOnLoadCallback(drawQtrsofEPSAcceleration);

//////////////////////////////////////////////////////////////////////////////////////////////////////

function drawQtrsofEPSAcceleration() {
  drawWinLoseColumnChart("#qtrs-of-eps-acceleration", "# Qtrs of EPS Acceleration");
}

//////////////////////////////////////////////////////////////////////////////////////////////////////

google.charts.setOnLoadCallback(drawEPSEstChgCurrentQtr);

//////////////////////////////////////////////////////////////////////////////////////////////////////

function drawEPSEstChgCurrentQtr() {
  drawWinLoseColumnChart("#eps-est-chg-current-qtr", "EPS Est % Chg (Current Qtr)");
}

//////////////////////////////////////////////////////////////////////////////////////////////////////

google.charts.setOnLoadCallback(drawEstimateRevisions);

//////////////////////////////////////////////////////////////////////////////////////////////////////

function drawEstimateRevisions() {
  drawWinLoseColumnChart("#estimate-revisions", "Estimate Revisions");
}

//////////////////////////////////////////////////////////////////////////////////////////////////////

google.charts.setOnLoadCallback(drawLastQtrEarningsSurprise);

//////////////////////////////////////////////////////////////////////////////////////////////////////

function drawLastQtrEarningsSurprise() {
  drawWinLoseColumnChart("#last-qtr-earnings-surprise", "Last Quarter % Earnings Surprise");
}

//////////////////////////////////////////////////////////////////////////////////////////////////////

google.charts.setOnLoadCallback(drawThreeYrEPSGrowthRate);

//////////////////////////////////////////////////////////////////////////////////////////////////////

function drawThreeYrEPSGrowthRate() {
  drawWinLoseColumnChart("#three-yr-eps-growth-rate", "3 Yr EPS Growth Rate");
}

//////////////////////////////////////////////////////////////////////////////////////////////////////

google.charts.setOnLoadCallback(drawConsecutiveYrsofAnnualEPSGrowth);

//////////////////////////////////////////////////////////////////////////////////////////////////////

function drawConsecutiveYrsofAnnualEPSGrowth() {
  drawWinLoseColumnChart("#consecutive-yrs-of-annual-eps-growth", "Consecutive Yrs of Annual EPS Growth");
}

//////////////////////////////////////////////////////////////////////////////////////////////////////

google.charts.setOnLoadCallback(drawEPSEstChgforCurrentYear);

//////////////////////////////////////////////////////////////////////////////////////////////////////

function drawEPSEstChgforCurrentYear() {
  drawWinLoseColumnChart("#eps-est-chg-for-current-year", "EPS Est % Chg for Current Year");
}

//////////////////////////////////////////////////////////////////////////////////////////////////////

google.charts.setOnLoadCallback(drawSalesChgLastQtr);

//////////////////////////////////////////////////////////////////////////////////////////////////////

function drawSalesChgLastQtr() {
  drawWinLoseColumnChart("#sales-chg-last-qtr", "Sales % Chg (Last Qtr)");
}

//////////////////////////////////////////////////////////////////////////////////////////////////////

google.charts.setOnLoadCallback(drawThreeYrSalesGrowthRate);

//////////////////////////////////////////////////////////////////////////////////////////////////////

function drawThreeYrSalesGrowthRate() {
  drawWinLoseColumnChart("#three-yr-sales-growth-rate", "3 Yr Sales Growth Rate");
}

//////////////////////////////////////////////////////////////////////////////////////////////////////

google.charts.setOnLoadCallback(drawAnnualPreTaxMargin);

//////////////////////////////////////////////////////////////////////////////////////////////////////

function drawAnnualPreTaxMargin() {
  drawWinLoseColumnChart("#annual-pretax-margin", "Annual Pre-Tax Margin");
}

//////////////////////////////////////////////////////////////////////////////////////////////////////

google.charts.setOnLoadCallback(drawAnnualROE);

//////////////////////////////////////////////////////////////////////////////////////////////////////

function drawAnnualROE() {
  drawWinLoseColumnChart("#annual-roe", "Annual ROE");
}

//////////////////////////////////////////////////////////////////////////////////////////////////////

google.charts.setOnLoadCallback(drawDebtEquityRatio);

//////////////////////////////////////////////////////////////////////////////////////////////////////

function drawDebtEquityRatio() {
  drawWinLoseColumnChart("#debt-equity-ratio", "Debt/Equity Ratio");
}

//////////////////////////////////////////////////////////////////////////////////////////////////////

google.charts.setOnLoadCallback(drawOff52WeekHigh);

//////////////////////////////////////////////////////////////////////////////////////////////////////

function drawOff52WeekHigh() {
  drawWinLoseColumnChart("#off-52-week-high", "% Off 52 Week High");
}

//////////////////////////////////////////////////////////////////////////////////////////////////////

google.charts.setOnLoadCallback(drawPricevs50DayMovingAverage);

//////////////////////////////////////////////////////////////////////////////////////////////////////

function drawPricevs50DayMovingAverage() {
  drawWinLoseColumnChart("#price-vs-50-day-moving-average", "Price vs. 50-Day Moving Average");
}

//////////////////////////////////////////////////////////////////////////////////////////////////////

google.charts.setOnLoadCallback(drawFiftyDayAverageVolume);

//////////////////////////////////////////////////////////////////////////////////////////////////////

function drawFiftyDayAverageVolume() {
  drawWinLoseColumnChart("#fifty-day-average-volume", "50-Day Average Volume");
}

//////////////////////////////////////////////////////////////////////////////////////////////////////

google.charts.setOnLoadCallback(drawChangeInFundsOwningStock);

//////////////////////////////////////////////////////////////////////////////////////////////////////

function drawChangeInFundsOwningStock() {
  drawWinLoseColumnChart("#change-in-funds-owning-stock", "% Change In Funds Owning Stock");
}

//////////////////////////////////////////////////////////////////////////////////////////////////////

google.charts.setOnLoadCallback(drawQtrsOfIncreasingFundOwnership);

//////////////////////////////////////////////////////////////////////////////////////////////////////

function drawQtrsOfIncreasingFundOwnership() {
  drawWinLoseColumnChart("#qtrs-of-increasing-fund-ownership", "Qtrs Of Increasing Fund Ownership");
}

//////////////////////////////////////////////////////////////////////////////////////////////////////


</script>

<!---->

{{end}}