{{define "Statistic"}}

<!---->

<html lang="en">

<head>

  <!---->
  {{template "IndexHead"}}
  <!---->

  <!---->
  {{template "IndexIcon"}}
  <!---->

  <!---->
  {{template "CDNCSS"}}
  <!---->

  <!---->
  {{template "ShareCSS"}}
  <!---->

  <!---->
  {{template "StatisticCSS"}}
  <!---->

</head>

<body>

  <!---->
  {{template "ShareNavbar"}}
  <!---->

  <div class="statistic-container">

    <label for="input-start-date"
      class="statistic-margin-top statistic-label">
      Start Date
    </label>

    <input type="text"
      id="input-start-date"
      class="form-control statistic-input"
      value="{{.StartDate}}">

    <div id="validate-start-date"
      class="invalid-feedback statistic-validate">
      Invalid Date
    </div>

    <label for="input-end-date"
      class="statistic-margin-top statistic-label">
      End Date
    </label>

    <input type="text"
      id="input-end-date"
      class="form-control statistic-input"
      value="{{.EndDate}}">

    <div id="validate-end-date"
      class="invalid-feedback statistic-validate">
      Invalid Date
    </div>

    <label for="input-threshold"
      class="statistic-margin-top statistic-label">
      Loss Threshold (%)
    </label>

    <input type="text"
      id="input-threshold"
      class="form-control statistic-input"
      value="{{.LossThresholdP}}">

    <div id="validate-threshold"
      class="invalid-feedback statistic-validate">
      Invalid Threshold
    </div>

    <button type="button"
      id="button-query"
      class="btn btn-lg btn-dark statistic-margin-top statistic-button">
      <i class="material-icons statistic-button-icons">search</i>
      Search
    </button>

    <!--<div class="statistic-separator">-->
    <!--</div>-->

    <!--<button type="button"-->
    <!--id="button-type"-->
    <!--class="btn btn-lg btn-dark statistic-margin-top statistic-button">-->
    <!--Info General-->
    <!--</button>-->

    <div class="dropdown statistic-margin-top">

      <button class="btn btn-lg btn-dark statistic-button dropdown-toggle"
        type="button"
        id="dropdownMenu"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">
        Info General
      </button>

      <div class="dropdown-menu statistic-menu"
        aria-labelledby="dropdownMenu">

        <button id="dropdown-info-general"
          class="dropdown-item statistic-item"
          type="button">
          Info General
        </button>

        <button id="dropdown-chart-general"
          class="dropdown-item statistic-item"
          type="button">
          Chart General
        </button>

        <button id="dropdown-chart-ibd"
          class="dropdown-item statistic-item"
          type="button">
          Chart IBD
        </button>

        <button id="dropdown-chart-marketsmith"
          class="dropdown-item statistic-item"
          type="button">
          Chart MarketSmith
        </button>

      </div>

      <!--</div>-->

      <!---->
      {{template "StatisticInfoGeneral" .}}
      <!---->

      <!---->
      {{template "StatisticChartGeneral" .}}
      <!---->

      <!---->
      {{template "StatisticChartIBD" .}}
      <!---->

      <!--<div class="statistic-separator">-->
      <!--</div>-->

      <button type="button"
        id="button-back"
        class="btn btn-lg btn-dark statistic-margin-top statistic-button">
      <i class="material-icons statistic-button-icons">home</i>
      Back to Action
    </button>

    </div>

    <!---->
    {{template "ShareFooter"}}
    <!---->

    <!---->
    {{template "CDNJS"}}
    <!---->

    <!---->
    {{template "ShareJS"}}
    <!---->

    <!---->
    {{template "StatisticJS"}}
    <!---->

    <!---->
    {{template "StatisticChartsJS"}}
    <!---->

    <!---->
    {{template "StatisticChartsIBDJS"}}
    <!---->

</body>

</html>

<!---->

{{end}}
