{{define "StatisticCSS"}}

<!---->

<style>

.statistic-list-item {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.statistic-list-item {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row; }

.statistic-list-item {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.statistic-label, .statistic-input, li, .statistic-validate, .statistic-button {
  -webkit-font-smoothing: antialiased; }

.statistic-button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.statistic-label, .statistic-input, li {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; }

.statistic-validate {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px; }

.statistic-button-icons {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  vertical-align: text-top;
  margin: 0 0.15em 0 0; }

.statistic-button {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.018em;
  line-height: 24px;
  text-transform: uppercase; }

.statistic-list-item {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.statistic-list-item {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row; }

.statistic-list-item {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.statistic-label, .statistic-input, li, .statistic-validate, .statistic-button {
  -webkit-font-smoothing: antialiased; }

.statistic-button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.statistic-label, .statistic-input, li {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; }

.statistic-validate {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px; }

.statistic-button-icons {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  vertical-align: text-top;
  margin: 0 0.15em 0 0; }

.statistic-button {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.018em;
  line-height: 24px;
  text-transform: uppercase; }

.statistic-label, .statistic-input, .statistic-validate, .statistic-button {
  font-family: 'Ubuntu', sans-serif; }

.statistic-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 500px) {
    .statistic-container {
      width: 85%; } }

.statistic-margin-top {
  margin-top: 2em; }

.statistic-separator {
  display: block;
  height: 1px;
  width: 97.5%;
  margin: 5px auto 5px auto;
  background-color: black;
  opacity: 0.12; }

.statistic-button {
  width: 100%; }

.statistic-charts {
  width: 100%;
  margin-bottom: 2em; }

.statistic-separator {
  margin-top: 2em; }

.statistic-color-general {
  background-color: #009688;
  color: white; }

.statistic-color-display {
  background-color: #69f0ae; }

.statistic-color-fantastic {
  background-color: #03a9f4;
  color: white; }

.statistic-color-info {
  background-color: #00e5ff; }

.statistic-color-danger {
  background-color: #f44336;
  color: white; }

.statistic-color-warning {
  background-color: #ffd740; }

li {
  font-family: 'Padauk', sans-serif; }


</style>

<!---->

{{end}}