{{define "StatisticChartMarketSmith"}}

<!---->

<div id="chart-marketsmith">

  <div id="ms-alpha"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartMarketSmith.Alpha}}">
  </div>

  <div id="ms-beta"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartMarketSmith.Beta}}">
  </div>

  <div id="ms-pe-ratio"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartMarketSmith.PERatio}}">
  </div>

  <div id="ms-book-value"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartMarketSmith.BookValue}}">
  </div>

  <div id="ms-inventory-to"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartMarketSmith.InventoryTO}}">
  </div>

  <div id="ms-earnings-stability"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartMarketSmith.EarningsStability}}">
  </div>

  <div id="ms-rs-rating"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartMarketSmith.RSRating}}">
  </div>

  <div id="ms-group-rs-rating"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartMarketSmith.GroupRSRating}}">
  </div>

  <div id="ms-acc-dis-rating"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartMarketSmith.AccDisRating}}">
  </div>

  <div id="ms-eps-rating"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartMarketSmith.EPSRating}}">
  </div>

  <div id="ms-smr-rating"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartMarketSmith.SMRRating}}">
  </div>

  <div id="ms-composite-rating"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartMarketSmith.CompositeRating}}">
  </div>

  <div id="ms-timeliness-rating"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartMarketSmith.TimelinessRating}}">
  </div>

  <div id="ms-sponsorship-rating"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartMarketSmith.SponsorshipRating}}">
  </div>

  <div id="ms-ud-vol-ratio"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartMarketSmith.UDVolRatio}}">
  </div>

  <div id="ms-roe"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartMarketSmith.ROE}}">
  </div>

  <div id="ms-eps-growth-rate"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartMarketSmith.EPSGrowthRate}}">
  </div>

  <div id="ms-industry-group"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartMarketSmith.IndustryGroup}}">
  </div>

  <div id="ms-options"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartMarketSmith.Options}}">
  </div>

  <div id="ms-debt"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartMarketSmith.Debt}}">
  </div>

  <div id="ms-rnd"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartMarketSmith.RnD}}">
  </div>

  <div id="ms-mgmt"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartMarketSmith.Mgmt}}">
  </div>

  <div id="ms-banks"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartMarketSmith.Banks}}">
  </div>

  <div id="ms-funds"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartMarketSmith.Funds}}">
  </div>

  <div id="ms-market-capitalization"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartMarketSmith.MarketCapitalization}}">
  </div>

  <div id="ms-shares-in-float"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartMarketSmith.SharesInFloat}}">
  </div>

  <div id="ms-avg-funds-holding-4q"
    class="statistic-margin-top statistic-charts"
    data-ref="{{.ChartMarketSmith.AvgFundsHolding4Q}}">
  </div>

</div>

<!---->

{{end}}
