{{define "StatisticChartsJS"}}

<!---->

<script>

//////////////////////////////////////////////////////////////////////////////////////////////////////

var width = $("#dropdownMenu").width();

//////////////////////////////////////////////////////////////////////////////////////////////////////

google.charts.load("current", {
  "packages": ["corechart", "bar"]
});

//////////////////////////////////////////////////////////////////////////////////////////////////////

function drawWinLoseColumnChart(jqueryID, chartTitle) {

  "use strict";

  var raw = $(jqueryID).data("ref");

  var body = JSON.parse(atob(raw));

  var data = google.visualization.arrayToDataTable(body);

  var classicOptions = {
    width: width,
    height: width / 1.5,
    hAxis: {
      slantedText: true,
    },
    title: chartTitle,
    legend: {
      position: "none",
    }
  };

  var classicChart = new google.visualization.ColumnChart(document.getElementById(jqueryID.replace("#", "")));
  classicChart.draw(data, classicOptions);

}

//////////////////////////////////////////////////////////////////////////////////////////////////////


</script>

<!---->

{{end}}