@import "../_share_scss/share";

.action-container {
  @include share-container;
}

.action-margin-top {
  @include share-margin-top;
}

.action-button {
  @include share-button;
  width: 100%;
}

.action-button-icons {
  @include share-button-icons;
}

.action-separator {
  @include share-separator;
  margin-top: 2em;
  margin-bottom: 0;
}
