{{define "ActionJS"}}

<!---->

<script>

//////////////////////////////////////////////////////////////////////////////////////////////////////

$("#button-new").focus();

//////////////////////////////////////////////////////////////////////////////////////////////////////

$("#button-watch-list").click(function() {
  window.location = "/watchlist";
});

//////////////////////////////////////////////////////////////////////////////////////////////////////

$("#button-new").click(function() {
  window.location = "/transaction";
});

//////////////////////////////////////////////////////////////////////////////////////////////////////

$("#button-statistic").click(function() {
  window.location = "/statistic";
});

//////////////////////////////////////////////////////////////////////////////////////////////////////

$("#button-post-analysis").click(function() {
  window.location = "/postanalysis";
});

//////////////////////////////////////////////////////////////////////////////////////////////////////

$("#button-change").click(function() {
  window.location = "/user";
});

//////////////////////////////////////////////////////////////////////////////////////////////////////

$("#button-logout").click(function() {
  window.location = "/login";
});

//////////////////////////////////////////////////////////////////////////////////////////////////////


</script>

<!---->

{{end}}