{{define "Action"}}

<html lang="en">

<head>

  <!---->
  {{template "IndexHead"}}
  <!---->

  <!---->
  {{template "IndexIcon"}}
  <!---->

  <!---->
  {{template "CDNCSS"}}
  <!---->

  <!---->
  {{template "ActionCSS"}}
  <!---->

</head>

<body>

  <!---->
  {{template "ShareNavbar"}}
  <!---->

  <div class="my-container">

    <button type="button"
      class="btn btn-dark btn-lg my-button my-margin">
    New Transaction
  </button>

    <button type="button"
      class="btn btn-dark btn-lg my-button my-margin">
    Find Transaction
  </button>

  </div>

  <!---->
  {{template "CDNJS"}}
  <!---->

  <!---->
  {{template "ActionJS"}}
  <!---->

</body>

</html>

{{end}}
