{{define "ActionJS"}}

<!---->

<script>

//////////////////////////////////////////////////////////////////////////////////////////////////////

$("#button-new").focus();

//////////////////////////////////////////////////////////////////////////////////////////////////////

$("#button-new").click(function() {
  window.location = "/transaction";
});

//////////////////////////////////////////////////////////////////////////////////////////////////////

$("#button-statistic").click(function() {
  window.location = "/statistic";
});

//////////////////////////////////////////////////////////////////////////////////////////////////////

$("#button-change").click(function() {
  window.location = "/user";
});

//////////////////////////////////////////////////////////////////////////////////////////////////////

$("#button-logout").click(function() {
  window.location = "/login";
});

//////////////////////////////////////////////////////////////////////////////////////////////////////


</script>

<!---->

{{end}}