{{define "ActionCSS"}}

<!---->

<style>

.action-button {
  -webkit-font-smoothing: antialiased; }

.action-button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.action-button {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.018em;
  line-height: 24px;
  text-transform: uppercase; }

.action-button {
  font-family: 'Ubuntu', sans-serif; }

.action-container {
  width: 75%;
  margin-left: auto;
  margin-right: auto; }

.action-margin-top {
  margin-top: 2em; }

.action-button-icons {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  vertical-align: text-top;
  margin: 0;
  margin-right: 0.15em; }

.action-separator {
  display: block;
  height: 1px;
  width: 97.5%;
  margin: 10px auto 10px auto;
  background-color: black;
  opacity: 0.38; }

.action-button {
  width: 100%; }


</style>

<!---->

{{end}}