{{define "ActionCSS"}}

<!---->

<style>

.action-container {
  width: 65%;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 1000px) {
    .action-container {
      width: 85%; } }

.action-margin-top {
  margin-top: 1.25em; }

.action-button {
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.018em;
  line-height: 24px;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  width: 100%; }

.action-button-icons {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  vertical-align: text-top;
  margin: 0 0.15em 0 0; }

.action-separator {
  display: block;
  height: 1px;
  width: 97.5%;
  margin: 5px auto 5px auto;
  background-color: black;
  opacity: 0.12;
  margin-top: 2em;
  margin-bottom: 0; }


</style>

<!---->

{{end}}