{{define "Login"}}

<html lang="en">

<head>

  <!---->
  {{template "IndexHead"}}
  <!---->

  <!---->
  {{template "IndexIcon"}}
  <!---->

  <!---->
  {{template "CDNCSS"}}
  <!---->

  <!---->
  {{template "ShareCSS"}}
  <!---->

  <!---->
  {{template "LoginCSS"}}
  <!---->

</head>

<body>

  <!---->
  {{template "ShareNavbar"}}
  <!---->

  <div class="my-share-container">

    <label for="input-email"
      class="my-share-margin">Email</label>

    <div class="input-group">

      <input type="email"
        id="input-email"
        class="form-control"
        placeholder="email"
        aria-label="email">

      <span class="input-group-addon">@gmail.com</span>

    </div>

    <div id="validate-email"
      class="invalid-feedback">
      Invalid Email
    </div>

    <label for="input-password"
      class="my-share-margin">Password</label>

    <input type="password"
      id="input-password"
      class="form-control"
      placeholder="password"
      aria-label="password">

    <div id="validate-password"
      class="invalid-feedback">
      Invalid Password
    </div>

    <!--<div class="my-share-button-row">-->

    <!--<button type="button"-->
    <!--id="button-create"-->
    <!--class="btn btn-lg btn-secondary my-share-margin my-button"-->
    <!--style="width: 100%;">Create</button>-->

    <!--<button type="button"-->
    <!--id="button-reset"-->
    <!--class="btn btn-lg btn-dark my-margin my-button">Reset</button>-->

    <!--</div>-->

    <button type="button"
      id="button-login"
      class="btn btn-lg btn-dark my-share-margin"
      style="width: 100%;">Login</button>

    <!--<div class="progress my-share-margin">-->
    <!--<div class="progress-bar progress-bar-striped progress-bar-animated"-->
    <!--role="progressbar"-->
    <!--aria-valuenow="100"-->
    <!--aria-valuemin="0"-->
    <!--aria-valuemax="100"></div>-->
    <!--</div>-->


  </div>

  <!---->
  {{template "CDNJS"}}
  <!---->

  <!---->
  {{template "ShareJS"}}
  <!---->

  <!---->
  {{template "LoginJS"}}
  <!---->

</body>

</html>

{{end}}
