{{define "Login"}}

<html lang="en">

<head>

  <!---->
  {{template "IndexHead"}}
  <!---->

  <!---->
  {{template "IndexIcon"}}
  <!---->

  <!---->
  {{template "CDNCSS"}}
  <!---->

  <!---->
  {{template "ShareCSS"}}
  <!---->

  <!---->
  {{template "LoginCSS"}}
  <!---->

</head>

<body>

  <!---->
  {{template "ShareNavbar"}}
  <!---->

  <!--<div class="my-share-container">-->
  <div class="login-container">

    <label for="input-email"
      class="login-margin-top login-label">Email</label>

    <div class="input-group">

      <input type="email"
        id="input-email"
        class="form-control login-input"
        placeholder="email"
        aria-label="email">

      <span class="input-group-addon login-input">@gmail.com</span>

    </div>

    <div id="validate-email"
      class="invalid-feedback login-validate">
      Invalid Email
    </div>

    <label for="input-password"
      class="login-margin-top login-label">Password</label>

    <input type="password"
      id="input-password"
      class="form-control login-input"
      placeholder="password"
      aria-label="password">

    <div id="validate-password"
      class="invalid-feedback login-validate">
      Invalid Password
    </div>

    <!--<div class="my-share-button-row">-->

    <!--<button type="button"-->
    <!--id="button-create"-->
    <!--class="btn btn-lg btn-secondary login-margin-top login-button"-->
    <!--style="width: 100%;">Create</button>-->

    <!--<button type="button"-->
    <!--id="button-reset"-->
    <!--class="btn btn-lg btn-dark login-margin-top my-button">Reset</button>-->

    <!--</div>-->

    <button type="button"
      id="button-login"
      class="btn btn-lg btn-dark login-button login-margin-top"
      style="width: 100%;">
        <i class="material-icons login-button-icons">unlock</i>
        Login
    </button>

    <!--<div class="progress login-margin-top">-->
    <!--<div class="progress-bar progress-bar-striped progress-bar-animated"-->
    <!--role="progressbar"-->
    <!--aria-valuenow="100"-->
    <!--aria-valuemin="0"-->
    <!--aria-valuemax="100"></div>-->
    <!--</div>-->

  </div>

  <!---->
  {{template "ShareFooter"}}
  <!---->

  <!---->
  {{template "CDNJS"}}
  <!---->

  <!---->
  {{template "ShareJS"}}
  <!---->

  <!---->
  {{template "LoginJS"}}
  <!---->

</body>

</html>

{{end}}
