{{define "LoginCSS"}}

<!---->

<style>

.login-container {
  width: 75%;
  margin-left: auto;
  margin-right: auto; }

.login-margin-top {
  margin-top: 2em; }

.login-button {
  font-family: 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased; }

.login-button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.login-button {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.018em;
  line-height: 24px;
  text-transform: uppercase; }


</style>

<!---->

{{end}}