@import "../material-design-style/colors";
@import "../material-design-style/shadows";
@import "../material-design-style/typography";
@import "../common/common";

$my-border-radius: 7px;

.my-style-card {
  @extend %shadow-2dp;
  @extend %shadow-transition;
  border: none;
  border-radius: $my-border-radius;
  -webkit-border-radius: $my-border-radius;
  -moz-border-radius: $my-border-radius;
}

.my-style-toolbar {
  @extend %shadow-2dp;
  width: 100%;
  height: 64px;
}

.my-style-button {
  display: block;
  @extend %font-button;
  @extend %shadow-2dp;
  @extend %shadow-transition;
  border: none;
  outline: none;
  padding: 0.5em 1.0em;
  border-radius: $my-border-radius;
}

.my-style-button:focus {
  @extend %shadow-6dp;
}

.my-style-button-icons {
  margin: 0;
  padding: 0;
}

.my-style-ripple {
  display: block;
  width: 1vw;
  height: 1vw;
  border: none;
  outline: none;
  border-radius: 50%;
}

.my-style-fab {
  display: block;
  @extend %shadow-2dp;
  @extend %shadow-transition;
  width: 56px;
  height: 56px;
  border: none;
  outline: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
}

.my-style-fab:focus {
  @extend %shadow-6dp;
}

.my-style-fab-mini {
  display: block;
  @extend %shadow-2dp;
  @extend %shadow-transition;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
}

.my-style-fab-mini:focus {
  @extend %shadow-6dp;
}
