{{define "Login"}}

<html lang="en">

<head>

  <!---->
  {{template "IndexHead"}}
  <!---->

  <!---->
  {{template "IndexIcon"}}
  <!---->

  <!---->
  {{template "CDNCSS"}}
  <!---->

  <!---->
  {{template "LoginCSS"}}
  <!---->

</head>

<body>

  <!---->
  {{template "ShareNavbar"}}
  <!---->

  <div class="my-container">

    <input type="text"
      class="form-control my-margin"
      placeholder="user"
      aria-label="user">

    <input type="password"
      class="form-control my-margin"
      placeholder="password"
      aria-label="password">

    <div class="my-button-container">

      <button type="button"
        class="btn btn-dark my-margin my-button">Create</button>

      <button type="button"
        class="btn btn-dark my-margin my-button">Login</button>

    </div>

  </div>

  <!---->
  {{template "CDNJS"}}
  <!---->

</body>

</html>

{{end}}
