{{define "Experience"}}

<html lang="en">

<head>

  <!---->
  {{template "IndexHead"}}
  <!---->

  <!---->
  {{template "IndexIcon"}}
  <!---->

  <!---->
  {{template "CDNCSS"}}
  <!---->

  <!---->
  {{template "ShareCSS"}}
  <!---->

  <!---->
  {{template "ExperienceCSS"}}
  <!---->

</head>

<body>

  <!---->
  {{template "ShareNavbar"}}
  <!---->

  <div class="experience-container">

    <button type="button"
      id="button-new"
      class="btn btn-lg btn-dark experience-button experience-margin-top">
      <i class="material-icons experience-button-icons">add</i>
      New Experience
    </button>

    <div class="experience-separator">
    </div>

    <!---->
    {{range $i, $v := .}}
    <!---->

    <div class="experience-item">
      <div class="card experience-card">
        <div class="card-body">

          <!---->
          {{range $j, $s := $v}}
          <!---->

          <span class="experience-content">{{$s}}</span><br>

          <!---->
          {{end}}
          <!---->

        </div>

        <div class="experience-item-separator">
        </div>

        <div class="experience-item-button-row">

          <button type="button"
            id="button-edit-item-{{$i}}"
            class="btn btn-light experience-item-button">
            <i class="material-icons experience-button-icons">edit</i>
          </button>

          <button type="button"
            id="button-delete-item-{{$i}}"
            class="btn btn-light experience-item-button">
            <i class="material-icons experience-button-icons">delete</i>
          </button>

        </div>

      </div>

    </div>

    <!---->
    {{end}}
    <!---->

    <div class="experience-separator">
    </div>

    <button type="button"
      id="button-back"
      class="btn btn-lg btn-dark experience-margin-top experience-button">
      <i class="material-icons experience-button-icons">home</i>
      Back to Action
    </button>

  </div>

  <!---->
  {{template "ShareFooter"}}
  <!---->

  <!---->
  {{template "CDNJS"}}
  <!---->

  <!---->
  {{template "ShareJS"}}
  <!---->

  <!---->
  {{template "ExperienceJS"}}
  <!---->

</body>

</html>

{{end}}
