@import "../_share_scss/share";

.experience-container {
  @include share-container;
}

.experience-margin-top {
  @include share-margin-top;
}

.experience-button {
  @include share-button;
  width: 100%;
}

.experience-item-button-row {
  @include layout-horizontal;
  @include layout-end-justified;
  padding-right: 1.5em;
}

.experience-item-button {
  @include share-button;
  margin-top: $share-margin;
  margin-bottom: $share-margin;
  margin-left: $share-margin;

  width: 7em;
}

.experience-button-icons {
  @include share-button-icons;
}

.experience-separator {
  @include share-separator;
  margin-top: 2em;
  margin-bottom: 0;
}

.experience-item-separator {
  @include share-separator;
  margin-top: 0;
  margin-bottom: 0;
}

.experience-label {
  @include share-label;
}

.experience-input {
  @include share-input;
}

.experience-item {
  @include share-margin-top;
}

.experience-card {
  @include shadow-2dp;
  border-width: 0;
  border-radius: $share-border-radius;
}

.experience-content {
  @include share-label;

  white-space: normal;
  word-wrap: break-word;
}

.experience-validate {
  @include share-validate;
}
