{{define "ExperienceJS"}}

<!---->

<script>

//////////////////////////////////////////////////////////////////////////////////////////////////////

$("#button-new").focus();

//////////////////////////////////////////////////////////////////////////////////////////////////////

$("#button-new").click(function() {
  window.location = "/experience?action=new";
});

//////////////////////////////////////////////////////////////////////////////////////////////////////


</script>

<!---->

{{end}}