@import "../_share_scss/share";
@import "../_common_scss/material_design_style/colors";
@import "../_common_scss/material_design_style/typography";

.new-container {
  @include share-container;
}

.new-margin-top {
  @include share-margin-top;
}

.new-button {
  @include share-button;
  width: 100%;
}

.new-button-icons {
  @include share-button-icons;
}

.new-label {
  @include share-label;
}

.new-input {
  @include share-input;
}

.new-validate {
  @include share-validate;
}

.new-menu {
  @include share-label;
  width: 100%;
}

.new-item {
  @include share-label;
  width: 100%;
}

.new-img {
  width: 100%;
}

.new-separator {
  @include share-separator;
  margin-top: 2em;
  margin-bottom: 0;
}

.new-modal-title {
  @include font-title;
  @include share-font-family;
}

.new-modal-body {
  @include share-input;

  display: block;
  resize: none;
  border: none;
  outline: none;
  width: 100%;

  overflow: hidden;

  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;

  color: black;
  opacity: $dark-primary-opacity;
}
