{{define "TransactionNew"}}

<html lang="en">

<head>

  <!---->
  {{template "IndexHead"}}
  <!---->

  <!---->
  {{template "IndexIcon"}}
  <!---->

  <!---->
  {{template "CDNCSS"}}
  <!---->

  <!---->
  {{template "ShareCSS"}}
  <!---->

  <!---->
  {{template "TransactionNewCSS"}}
  <!---->

</head>

<body>

  <!---->
  {{template "ShareNavbar"}}
  <!---->

  <div class="my-share-container">

    <button type="button"
      id="button-type"
      class="btn btn-lg btn-dark my-share-margin my-button"
      style="width: 100%;">BUY</button>

    <label for="input-date"
      class="my-share-margin">Date</label>

    <input type="text"
      id="input-date"
      class="form-control"
      placeholder="date"
      aria-label="date">

    <div id="validate-date"
      class="invalid-feedback">
      Invalid Input
    </div>

    <label for="input-symbol"
      class="my-share-margin">Symbol</label>

    <input type="text"
      id="input-symbol"
      class="form-control"
      placeholder="symbol"
      aria-label="symbol"
      style="text-transform: uppercase;">

    <div id="validate-symbol"
      class="invalid-feedback">
      Invalid Input
    </div>

    <label for="input-price"
      class="my-share-margin">Price</label>

    <div class="input-group">

      <span class="input-group-addon">$</span>

      <input type="text"
        id="input-price"
        class="form-control"
        placeholder="price"
        aria-label="price">

    </div>

    <div id="validate-price"
      class="invalid-feedback">
      Invalid Input
    </div>

    <label for="input-share"
      class="my-share-margin">Share</label>

    <input type="text"
      id="input-share"
      class="form-control"
      placeholder="share"
      aria-label="share">

    <div id="validate-share"
      class="invalid-feedback">
      Invalid Input
    </div>

    <label for="input-revenue"
      class="my-share-margin">Revenue</label>

    <div class="input-group">

      <span class="input-group-addon">$</span>

      <input type="text"
        id="input-revenue"
        class="form-control"
        placeholder="revenue"
        aria-label="revenue"
        disabled>

    </div>

    <div id="validate-revenue"
      class="invalid-feedback">
      Invalid Input
    </div>

    <label for="input-cost"
      class="my-share-margin">Cost</label>

    <div class="input-group">

      <span class="input-group-addon">$</span>

      <input type="text"
        id="input-cost"
        class="form-control"
        placeholder="cost"
        aria-label="cost"
        disabled>

    </div>

    <div id="validate-cost"
      class="invalid-feedback">
      Invalid Input
    </div>

    <label for="input-profit"
      class="my-share-margin">Profit</label>

    <div class="input-group">

      <span class="input-group-addon">$</span>

      <input type="text"
        id="input-profit"
        class="form-control"
        placeholder="profit"
        aria-label="profit"
        disabled>

    </div>

    <label for="input-gain"
      class="my-share-margin">Gain</label>

    <div class="input-group">

      <input type="text"
        id="input-gain"
        class="form-control"
        placeholder="gain"
        aria-label="gain"
        disabled>

      <span class="input-group-addon">%</span>

    </div>

    <label for="input-stage"
      class="my-share-margin">Stage</label>

    <input type="text"
      id="input-stage"
      class="form-control"
      placeholder="stage"
      aria-label="stage">

    <div id="validate-stage"
      class="invalid-feedback">
      Invalid Input
    </div>

    <label for="input-dayhold"
      class="my-share-margin">Day Hold</label>

    <input type="text"
      id="input-dayhold"
      class="form-control"
      placeholder="day hold"
      aria-label="day hold"
      disabled>

    <div id="validate-stage"
      class="invalid-feedback">
      Invalid Input
    </div>

    <label for="input-note"
      class="my-share-margin">Note</label>

    <textarea class="form-control"
      id="input-note"
      rows="15"></textarea>

    <div class="my-share-separator"
      style="margin-top: 2em;">
    </div>

    <div class="my-share-margin">

      <img id="img-ibd"
        style="width: 100%; display: none">

      <input type='file'
        id="input-img-ibd"
        class="my-share-margin"
        accept="*"
        style="display: none;">
      </input>

      <button type="button"
        id="button-img-ibd"
        class="btn btn-lg btn-dark my-share-margin my-button"
        style="width: 100%;">IBD Checkup</button>

      <div id="validate-img-ibd"
        class="invalid-feedback">
        Invalid IBD Checkup
      </div>

    </div>

    <div class="my-share-separator"
      style="margin-top: 2em;">
    </div>


    <div class="my-share-margin">

      <img id="img-d"
        style="width: 100%;">

      <input type='file'
        id="input-img-d"
        accept="image/*"
        style="display: none;">
      </input>

      <button type="button"
        id="button-img-d"
        class="btn btn-lg btn-dark my-share-margin my-button"
        style="width: 100%;">Dialy</button>

      <div id="validate-img-d"
        class="invalid-feedback">
        Invalid Daily Chart
      </div>

    </div>

    <div class="my-share-margin">

      <img id="img-w"
        style="width: 100%;">

      <input type='file'
        id="input-img-w"
        class="my-share-margin"
        accept="image/*"
        style="display: none;">
      </input>

      <button type="button"
        id="button-img-w"
        class="btn btn-lg btn-dark my-share-margin my-button"
        style="width: 100%;">Weekly</button>

      <div id="validate-img-w"
        class="invalid-feedback">
        Invalid Weekly Chart
      </div>

    </div>

    <div class="my-share-separator"
      style="margin-top: 2em;">
    </div>

    <div class="my-share-margin">

      <img id="img-ndqc-d"
        style="width: 100%;">

      <input type='file'
        id="input-img-ndqc-d"
        class="my-share-margin"
        accept="image/*"
        style="display: none;">
      </input>

      <button type="button"
        id="button-img-ndqc-d"
        class="btn btn-lg btn-dark my-share-margin my-button"
        style="width: 100%;">Nasdaq Daily</button>

      <div id="validate-img-ndqc-d"
        class="invalid-feedback">
        Invalid NDQC Daily Chart
      </div>

    </div>

    <div class="my-share-margin">

      <img id="img-ndqc-w"
        style="width: 100%;">

      <input type='file'
        id="input-img-ndqc-w"
        class="my-share-margin"
        accept="image/*"
        style="display: none;">
      </input>

      <button type="button"
        id="button-img-ndqc-w"
        class="btn btn-lg btn-dark my-share-margin my-button"
        style="width: 100%;">Nasdaq Weekly</button>

      <div id="validate-img-ndqc-w"
        class="invalid-feedback">
        Invalid NDQC Weekly Chart
      </div>

    </div>

    <div class="my-share-separator"
      style="margin-top: 2em;">
    </div>

    <div class="my-share-margin">

      <img id="img-sp5-d"
        style="width: 100%;">

      <input type='file'
        id="input-img-sp5-d"
        class="my-share-margin"
        accept="image/*"
        style="display: none;">
      </input>

      <button type="button"
        id="button-img-sp5-d"
        class="btn btn-lg btn-dark my-share-margin my-button"
        style="width: 100%;">SP500 Daily</button>

      <div id="validate-img-sp5-d"
        class="invalid-feedback">
        Invalid SP5 Daily Chart
      </div>

    </div>

    <div class="my-share-margin">

      <img id="img-sp5-w"
        style="width: 100%;">

      <input type='file'
        id="input-img-sp5-w"
        class="my-share-margin"
        accept="image/*"
        style="display: none;">
      </input>

      <button type="button"
        id="button-img-sp5-w"
        class="btn btn-lg btn-dark my-share-margin my-button"
        style="width: 100%;">SP500 Weekly</button>

      <div id="validate-img-sp5-w"
        class="invalid-feedback">
        Invalid SP5 Weekly Chart
      </div>

    </div>

    <div class="my-share-separator"
      style="margin-top: 2em;">
    </div>

    <div class="my-share-margin">

      <img id="img-nyc-d"
        style="width: 100%;">

      <input type='file'
        id="input-img-nyc-d"
        class="my-share-margin"
        accept="image/*"
        style="display: none;">
      </input>

      <button type="button"
        id="button-img-nyc-d"
        class="btn btn-lg btn-dark my-share-margin my-button"
        style="width: 100%;">NYC Daily</button>

      <div id="validate-img-nyc-d"
        class="invalid-feedback">
        Invalid NYC Daily Chart
      </div>

    </div>

    <div class="my-share-margin">

      <img id="img-nyc-w"
        style="width: 100%;">

      <input type='file'
        id="input-img-nyc-w"
        class="my-share-margin"
        accept="image/*"
        style="display: none;">
      </input>

      <button type="button"
        id="button-img-nyc-w"
        class="btn btn-lg btn-dark my-share-margin my-button"
        style="width: 100%;">NYC Weekly</button>

      <div id="validate-img-nyc-w"
        class="invalid-feedback">
        Invalid NYC Weekly Chart
      </div>

    </div>

    <div class="my-share-separator"
      style="margin-top: 2em;">
    </div>

    <div class="my-share-margin">

      <img id="img-djia-d"
        style="width: 100%;">

      <input type='file'
        id="input-img-djia-d"
        class="my-share-margin"
        accept="image/*"
        style="display: none;">
      </input>

      <button type="button"
        id="button-img-djia-d"
        class="btn btn-lg btn-dark my-share-margin my-button"
        style="width: 100%;">Dow Jones Daily</button>

      <div id="validate-img-djia-d"
        class="invalid-feedback">
        Invalid DJIA Daily Chart
      </div>

    </div>

    <div class="my-share-margin">

      <img id="img-djia-w"
        style="width: 100%;">

      <input type='file'
        id="input-img-djia-w"
        class="my-share-margin"
        accept="image/*"
        style="display: none;">
      </input>

      <button type="button"
        id="button-img-djia-w"
        class="btn btn-lg btn-dark my-share-margin my-button"
        style="width: 100%;">Dow Jones Weekly</button>

      <div id="validate-img-djia-w"
        class="invalid-feedback">
        Invalid DJIA Weekly Chart
      </div>

    </div>

    <div class="my-share-separator"
      style="margin-top: 2em;">
    </div>

    <div class="my-share-margin">

      <img id="img-rus-d"
        style="width: 100%;">

      <input type='file'
        id="input-img-rus-d"
        class="my-share-margin"
        accept="image/*"
        style="display: none;">
      </input>

      <button type="button"
        id="button-img-rus-d"
        class="btn btn-lg btn-dark my-share-margin my-button"
        style="width: 100%;">Russell 2000 Daily</button>

      <div id="validate-img-rus-d"
        class="invalid-feedback">
        Invalid RUS Daily Chart
      </div>

    </div>

    <div class="my-share-margin">

      <img id="img-rus-w"
        style="width: 100%;">

      <input type='file'
        id="input-img-rus-w"
        class="my-share-margin"
        accept="image/*"
        style="display: none;">
      </input>

      <button type="button"
        id="button-img-rus-w"
        class="btn btn-lg btn-dark my-share-margin my-button"
        style="width: 100%;">Russell 2000 Weekly</button>

      <div id="validate-img-rus-w"
        class="invalid-feedback">
        Invalid RUS Weekly Chart
      </div>

    </div>

    <div class="my-share-separator"
      style="margin-top: 2em;">
    </div>

    <button type="button"
      id="button-create"
      class="btn btn-lg btn-dark my-share-margin my-button"
      style="width: 100%;">Create</button>

  </div>

  <!---->
  {{template "ShareFooter"}}
  <!---->

  <!---->
  {{template "CDNJS"}}
  <!---->

  <!---->
  {{template "ShareJS"}}
  <!---->

  <!---->
  {{template "TransactionNewJS"}}
  <!---->

</body>

</html>

{{end}}
