{{define "TransactionNew"}}

<html lang="en">

<head>

  <!---->
  {{template "IndexHead"}}
  <!---->

  <!---->
  {{template "IndexIcon"}}
  <!---->

  <!---->
  {{template "CDNCSS"}}
  <!---->

  <!---->
  {{template "ShareCSS"}}
  <!---->

  <!---->
  {{template "TransactionNewCSS"}}
  <!---->

</head>

<body>

  <!---->
  {{template "ShareNavbar"}}
  <!---->

  <div class="my-share-container">

    <!--Date time.Time-->

    <!--Symbol string-->

    <!--Price float32-->

    <!--Share uint-->

    <!--Position float32-->

    <!--Stage float32-->

    <!--Note string `datastore:",noindex"`-->

    <div class="my-share-margin">

      <div class="form-check">

        <label class="form-check-label"
          for="input-buy">

          <input class="form-check-input"
            type="radio"
            name="transaction-type"
            id="input-buy"
            value="buy"
            checked>

          Buy
        </label>

      </div>

      <div class="form-check">

        <label class="form-check-label">

          <input class="form-check-input"
            type="radio"
            name="transaction-type"
            id="input-sell"
            value="sell">

          Sell
        </label>

      </div>

    </div>

    <label for="input-date"
      class="my-share-margin">Date</label>

    <input type="date"
      id="input-date"
      class="form-control"
      placeholder="date"
      aria-label="date">

    <label for="input-symbol"
      class="my-share-margin">Symbol</label>

    <input type="text"
      id="input-symbol"
      class="form-control"
      placeholder="symbol"
      aria-label="symbol"
      style="text-transform: uppercase;">


    <label for="input-price"
      class="my-share-margin">Price</label>

    <div class="input-group">

      <span class="input-group-addon">$</span>

      <input type="text"
        id="input-price"
        class="form-control"
        placeholder="price"
        aria-label="price">

    </div>

    <label for="input-share"
      class="my-share-margin">Share</label>

    <input type="text"
      id="input-share"
      class="form-control"
      placeholder="share"
      aria-label="share">

    <label for="input-position"
      class="my-share-margin">Position</label>

    <div class="input-group">

      <input type="text"
        id="input-position"
        class="form-control"
        placeholder="position"
        aria-label="position">

      <span class="input-group-addon">%</span>

    </div>

    <label for="input-stage"
      class="my-share-margin">Stage</label>

    <input type="text"
      id="input-stage"
      class="form-control"
      placeholder="stage"
      aria-label="stage">

  </div>

  <!---->
  {{template "ShareFooter"}}
  <!---->

  <!---->
  {{template "CDNJS"}}
  <!---->

  <!---->
  {{template "ShareJS"}}
  <!---->

  <!---->
  {{template "TransactionNewJS"}}
  <!---->

</body>

</html>

{{end}}
