{{define "TransactionNewJS"}}

<script>
  $(".invalid-feedback").hide();

  var buy = true;
  var sell = false;

  var decimal = 2;

  $("#button-type").click(function() {
    buy = !buy;
    sell = !buy;

    if (buy) {
      $("#button-type").html("BUY");
    }

    if (sell) {
      $("#button-type").html("SELL");
    }
  });

  function calculate() {
    if ($("#input-price").val().match(/^[0-9.]+$/) === null) {
      return;
    }

    if ($("#input-share").val().match(/^\d+$/) === null) {
      return;
    }

    if ($("#input-capital").val().match(/^[0-9.]+$/) === null) {
      return;
    }

    var price = parseFloat($("#input-price").val());
    var share = parseFloat($("#input-share").val());

    var capital = parseFloat($("#input-capital").val());

    var total = (price * share).toFixed(decimal);
    var position = ((total / capital) * 100).toFixed(decimal);

    $("#input-total").val(total.toString());
    $("#input-position").val(position.toString());
  }

  $("#input-price").focusout(function() {
    calculate();
  });

  $("#input-share").focusout(function() {
    calculate();
  });

  $("#input-capital").focusout(function() {
    calculate();
  });

  $("#button-create").click(function() {
    $(".invalid-feedback").hide();

    if ($("#input-date").val().match(/^\d{8}$/) === null) {
      $("#validate-date").show();
      return;
    }

    var date = parseInt($("#input-date").val());

    if ($("#input-symbol").val().toUpperCase().match(/^[A-Z]+$/) === null) {
      $("#validate-symbol").show();
      return;
    }

    var symbol = $("#input-symbol").val().toUpperCase();

    if ($("#input-capital").val().match(/^[0-9.]+$/) === null) {
      $("#validate-capital").show();
      return;
    }

    var capital = parseFloat($("#input-capital").val());

    if ($("#input-price").val().match(/^[0-9.]+$/) === null) {
      $("#validate-price").show();
      return;
    }

    var price = parseFloat($("#input-price").val());

    if ($("#input-share").val().match(/^\d+$/) === null) {
      $("#validate-share").show();
      return;
    }

    var share = parseInt($("#input-share").val());

    var total = parseFloat($("#input-total").val());

    var position = parseFloat($("#input-position").val());

    if ($("#input-stage").val().match(/^\d+$/) === null) {
      $("#validate-stage").show();
      return;
    }

    var stage = parseInt($("#input-stage").val());

    var note = $("#input-note").val();

    var data = {
      "Date": date,
      "Symbol": symbol,
      "Capital": capital,
      "Price": price,
      "Share": share,
      "Total": total,
      "Position": position,
      "Stage": stage,
      "Note": note,
    };

    var jsonBody = JSON.stringify(data);

    console.log(jsonBody);
  });

  function imgChange(target) {
    var button = "#button-img-" + target;
    var inputs = "#input-img-" + target;
    var img = "#img-" + target;

    $(button).click(function() {
      $(inputs).click();
    });

    $(inputs).change(function() {
      fileChanged($(inputs), $(img));
    });
  }

  imgChange("d");
  imgChange("w");

  imgChange("ndqc-d");
  imgChange("ndqc-w");

  imgChange("sp5-d");
  imgChange("sp5-w");

  imgChange("djia-d");
  imgChange("djia-w");

  imgChange("rus-d");
  imgChange("rus-w");
</script>

{{end}}
