{{define "NewCSS"}}

<!---->

<style>

.new-modal-title, .new-label, .new-menu, .new-item, .new-input, .new-modal-body, .new-validate, .new-button {
  -webkit-font-smoothing: antialiased; }

.new-modal-title, .new-button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.new-modal-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px; }

.new-label, .new-menu, .new-item, .new-input, .new-modal-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; }

.new-validate {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px; }

.new-button-icons {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  vertical-align: text-top;
  margin: 0 0.15em 0 0; }

.new-button {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.018em;
  line-height: 24px;
  text-transform: uppercase; }

.new-label, .new-menu, .new-item, .new-input, .new-modal-body, .new-validate, .new-button, .new-modal-title {
  font-family: 'Ubuntu', sans-serif; }

.new-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 500px) {
    .new-container {
      width: 85%; } }

.new-margin-top {
  margin-top: 2em; }

.new-separator {
  display: block;
  height: 1px;
  width: 97.5%;
  margin: 5px auto 5px auto;
  background-color: black;
  opacity: 0.12; }

.new-modal-title, .new-label, .new-menu, .new-item, .new-input, .new-modal-body, .new-validate, .new-button {
  -webkit-font-smoothing: antialiased; }

.new-modal-title, .new-button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.new-modal-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px; }

.new-label, .new-menu, .new-item, .new-input, .new-modal-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; }

.new-validate {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px; }

.new-button-icons {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  vertical-align: text-top;
  margin: 0 0.15em 0 0; }

.new-button {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.018em;
  line-height: 24px;
  text-transform: uppercase; }

.new-button {
  width: 100%; }

.new-menu {
  width: 100%; }

.new-item {
  width: 100%; }

.new-img {
  width: 100%; }

.new-separator {
  margin-top: 2em;
  margin-bottom: 0; }

.new-modal-body {
  display: block;
  resize: none;
  border: none;
  outline: none;
  width: 100%;
  overflow: hidden;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  color: black;
  opacity: 0.87; }


</style>

<!---->

{{end}}