{{define "ShareCSS"}}

<!---->

<style>

.my-share-button-row {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.my-share-button-row {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row; }

.my-share-button-row {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.my-share-separator {
  display: block;
  height: 1px;
  width: 97.5%;
  margin: 10px auto 10px auto;
  background-color: black;
  opacity: 0.38; }

.my-share-container {
  width: 75%;
  margin-left: auto;
  margin-right: auto; }

.my-share-margin-top {
  margin-top: 2em; }


</style>

<!---->

{{end}}