{{define "ShareCSS"}}

<!---->

<style>

.share-navbar {
  -webkit-font-smoothing: antialiased; }

.share-navbar {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.share-navbar {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px; }

.share-navbar {
  font-family: 'Ubuntu', sans-serif; }

.share-navbar {
  -webkit-font-smoothing: antialiased; }

.share-navbar {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.share-navbar {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px; }

.share-navbar-icon {
  margin-right: 0.25em;
  vertical-align: text-top; }


</style>

<!---->

{{end}}