{{define "UserJS"}}

<script>
  function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
  }

  $("#input-password").focus();

  $("#button-ok").click(function() {

    $(".invalid-feedback").hide();

    var email = $("#input-email").val();
    var password = $("#input-password").val();

    var conf = $("#input-password-confirm").val();

    if (password !== conf) {
      $("#validate-password-confirm").show();
      return;
    }

    if (!validateEmail(email)) {
      return;
    }

    if (password === "") {
      $("#validate-password").show();
      return;
    }

    var data = {};
    data.Email = email;
    data.Password = password;

    var jsonBody = JSON.stringify(data);

    $.ajax({
      type: "PUT",
      url: "/user",
      data: jsonBody,
      success: function(data) {
        window.location = data;
      },
      error: function(xhr, err) {
        $("#validate-password").show();
        $("#validate-password-confirm").show();
      },
    });
  });
</script>

{{end}}
